.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5vw;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
  cursor: pointer;
}

.show-more-button {
  display: flex;
  font-size: 22px;
  margin-top: 10px;
  padding: 10px 10px 10px 30px;
  background-color: #4824ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.5s ease-in-out;
}

.show-more-button:hover {
  background-color: black;
  filter: drop-shadow(0px 0px 30px #4824ff25);
}

.more-icon {
  margin: -12px;
  padding: 0;
  position: relative;
  content: url(/public/icons/more.png);
  background: none;
  scale: 0.25;
  height: 50px;
}