@font-face {
  font-family: 'Onest';
  src: url("/public/Onest-Regular.ttf");
}

@font-face {
  font-family: 'Prata';
  src: url("/public/Prata-Regular.ttf");
}


body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Onest';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin-left: -5vw;
  margin-right: -5vw;
  position: fixed;
  width: 90vw;
  padding: 0 5vw 0 5vw;
  background: #ffffffe1;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.menu {
  height: 100px;
  width: 50vw;
  align-content: center;
}

header a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header  a:hover {
  color: #4824ff;
  filter:drop-shadow(0px 0px 50px #4824ff);
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  position: relative;
  height: 55px;
  width: 222px;
  border-radius: 55px;
  background: #4824ff;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  margin-right: 2%;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0px 0px 35px #4824ff40);
}

.btn:before {
  content: '';
  position: absolute;
  height: 300px;
  width: 30px;
  background: #ffffffbd;
  filter: blur(2px);
  transition: 1.5s;
  transform: rotate(-20deg) translateX(-50px) translateY(-200px);
}

.btn:hover:before {
  transform: rotate(-20deg) translateX(200px);
}

.icon {
  height: 55px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 2%;
}

.icon.telegram {
  content: url(/public/icons/telegram_png.png);
}

.icon.whatsapp {
  content: url(/public/icons/whatsapp_png.png);
}

.icon:hover {
  background: #4824ff;
  filter: drop-shadow(0px 0px 35px #4824ff40);
}

.switch {
  width: 100px;
  height: 55px;
  border-radius: 55px;
  background-color: #eeebff;
  overflow: hidden;
}

.theme {
  margin: 2px;
  width: 51px;
  height: 51px;
  border-radius: 55px;
  background-color: black;
  filter: invert();
  transition: 0.5s ease-in-out;
}

.theme.light {
  content: url(/public/icons/sun-symbol.png);
}

.switch:hover > .theme.theme.light {
  transform: rotate(45deg);

}

.welcome-block {
  height: 800px;
  display: flex;
  place-items: center;
}

.welcome-block h1 {
  font-size: 52px;
}

.welcome-block h2 {
  font-size: 42px;
  font-weight: 450;
}

.welcome-block h3 {
  font-size: 30px;
  font-weight: 300;
}

.title {
  background: linear-gradient(to right,
    #4824ff,
    #4824ff,
    #85ebff,
    #eeebff,
    #85aeff,
    #4824ff,
    #4824ff,
    #4824ff);
  background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.welcome-block .first-block {
  align-content: center;
  width: 55%;
}

.main-image-box {
  width: 45%;
  margin-top: -3%;
}

.main-image-box img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  object-fit: contain;
  display: block;
}

.service-block {
  height: 500px;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 5vw;
  background: #fbfaff;
  align-content: center;
}

.service-block .tag {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  background: #eeebff;
  color: #4824ff;
  margin: 0 12px 0 0;
  padding: 8px 22px 8px 8px;
  border-radius: 24px;
}

.service-block .tag .tag-icon {
  margin: -10px;
  padding: 0;
  position: relative;
  content: url(/public/icons/check.png);
  background: none;
  scale: 0.33;
  height: 50px;
}

.portfolio-block {
  height: auto;
}

.portfolio-block .first-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-block .main-title {
  font-size: 56px;
  font-family: "Prata";
  font-weight: 500;
  background: linear-gradient(to right, black, #4824ff);
  background-clip: text;
  color: transparent;
}

.portfolio-block .array-icon {
  margin: 0 20px;
  padding: 0;
  width: 75px;
  filter: drop-shadow(20px 20px 15px #4824ff25);
}

.portfolio-block .title-border {
  font-size: 56px;
  font-family: "Prata";
  font-weight: 500;
  color: white;
  margin: 10px 0;
  text-shadow:
    -1px -1px 0 #4824ff30,
    1px  -1px 0 #4824ff30,
    -1px  1px 0 #4824ff30,
    1px   1px 0 #4824ff30;
}

.gradient-part-one {
  position: absolute;
  background: linear-gradient(to right, transparent, white);
  color: transparent;
  height: 70px;
  width: 200px;
}

.gradient-part-two {
  position: absolute;
  background: linear-gradient(to left, transparent, white);
  color: transparent;
  height: 70px;
  width: 200px;
}

.portfolio-block .tag {
  background: #eeebff;
  color: #4824ff;
  margin: 0 12px 0 0;
  padding: 8px 22px;
  border-radius: 24px;
  border: 1px solid #eeebff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.portfolio-block .tag:hover {
  background: #4824ff;
  color: white;
  filter: drop-shadow(0px 0px 30px #4824ff25);
}

.portfolio-block .selected {
  background: #04001a;
  color: white;
  border: 1px solid #4824ff;
}

.review-block {
  margin: 80px 0px;
  height: 580px;
  background: #4824ff;
  border-radius: 28px;
}

.review-block h1 {
  color: white;
  text-align: center;
  padding-top: 36px;
  font-size: 50px;
}

.review-block .description {
  color: white;
  text-align: center;
  margin-top: -12px;
  font-size: 22px;
  line-height: 32px;
}

.review-block .selecting {
  background: white;
  color: black;
  margin: 0px 8px;
  font-weight: 500;
}

.review-carousel {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1260px;
}

.review-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow: hidden;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  transition: 0.7s;
  margin: 16px 0 0 10px;
  border: none;
  padding: 0;
}

.next-button .array-next-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.array-next-icon {
  background-image: url(/public/icons/right-arrow.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.next-button:hover {
  background: #00000050;
}

.next-button:hover .array-next-icon {
  filter: invert(100%);
}

.review-card {
  min-width: 420px;
}

.review-content {
    height: 230px;
    width: 384px;
    background: white;
    border-radius: 24px;
    margin: 0 18px;
}

.review-block .review {
    margin-top: auto;
    font-size: 19px;
    line-height: 27px;
    width: 90%;
}

.review-block .link {
    display: flex;
    position: right;
    height: 40px;
    width: 80px;
    background: black;
    border-radius: 24px;
    cursor: pointer;
    border: 2px solid black;
    transition: 0.5s ease-in-out;
}

.review-block .link:hover {
    border: 2px double #4824ff;
    filter: drop-shadow(0px 0px 25px #4824ff90);
}

.review-block .telegram-icon {
    margin: -7px -4px;
    padding: 0;
    position: relative;
    content: url(/public/icons/telegram_svg.svg);
    background: none;
    scale: 0.84;
    height: 50px;
}

.review-block .array-corner-icon {
    margin: -6px -18px;
    padding: 0;
    position: relative;
    content: url(/public/icons/up-right-arrow.png);
    background: none;
    scale: 0.37;
    height: 50px;
}

.guarantees-block {
  height: 540px;
  font-size: 26px;
}

.guarantees-points {
  list-style-type: none;
  padding-left: 20px;
}

.guarantees-points li {
  position: relative;
  padding-left: 60px;
}

.guarantees-points li::before {
  content: '';
  position: absolute;
  left: 0;
  transform: translateY(-10%);
  width: 40px;
  height: 40px;
  background-image: url(/public/icons/Guarantee.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -20px;
}

.point {
  margin-top: 35px;
}

.footer {
  height: 80px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #cec4fe50;
  margin-left: -5vw;
  margin-right: -5vw;
  align-items: center;
}

.btn-up {
  position: fixed;
  right: 5vw;
  bottom: 6vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s linear;
  animation: appearance 2s forwards;
  border: none;
  opacity: 0;
  transform: translateY(0px);
  background: transparent;
}

@keyframes appearance {
  0% { 
    opacity: 0; 
    transform: translateY(40px); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0px); 
  }
}

.btn-up::before {
  content: "";
  transform: rotate(180deg);
  width: 70px;
  height: 70px;
  background-size: 100% 100%;
  background-image: url(/public/icons/Array.png);
}